<nav class="navbar navbar-default navigation_left hidden-sm" role="navigation">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {% for nav in navigation_left %}
        <li>
          <a href="{{ nav.url }}">{{ nav.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>