{% extends '../layout.twig' %}

{% block title %}Оформить справку в бассейн{% endblock %}

{% block body %}

  <section class="mb40">

    <div class="container">

      <div class="row">
        <div class="col-md-12 mb30">
          <h2>Оформить справку в бассейн</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th class="p20">
                <h4>Наименование услуги</h4>
              </th>
              <th class="p20">
                <h4>Стоимость</h4>
              </th>
            </tr>
            <tr>
              <td class="p20">
                Справка в бассейн
              </td>
              <td class="p20">
                500 руб.
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>
            Вы решили посетить бассейн? Конечно же у вас попросят справку для бассейна. 
            <br>
            На данный момент в столице нет ни единого бассейна, в котором бы не понадобилась мед справка в бассейн. 
            <br>
            Для оформления справки вам потребуется время 2-3 дня. 
          </p>
          <p class="lead">
            Мы предоставляем справки в бассейн как для детей, так и для взрослых. 
          </p>
          <p>
            Воспользовавшись нашим уникальным сервисом, вы не потратите много времени и затратите минимально средств. 
            <br>
            Мы сделаем нужную вам мед справку, осуществим доставку до вашей станции метро.
          </p>
        </div>
      </div>

    </div>

  </section>

{% endblock %}