{% extends '../layout.twig' %}

{% block title %}Оформить справки из диспансеров online{% endblock %}

{% block body %}

  <section class="mb40">

    <div class="container">

      <div class="row">
        <div class="col-md-12 mb30">
          <h2>Оформить справки из диспансеров online</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th class="p20">
                <h4>Наименование услуги</h4>
              </th>
              <th class="p20">
                <h4>Стоимость</h4>
              </th>
            </tr>
            <tr>
              <td class="p20">
                Cтоимость справки из психоневрологического диспансера
              </td>
              <td class="p20">
                1500 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Стоимость справки из наркологического диспансера
              </td>
              <td class="p20">
                1500 руб.
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="lead">
            Справки из диспансеров
          </p>
        </div>
        <div class="col-md-12">
          <p>
            Наша фирма предоставляет только подледные мед. справки, которые нужны для разных случаев в жизни.
            <br>
            На сегодняшний день востребования справок из диспансеров Пнд и НД очень велика.
            <br>
            Заказ справки ПНД и НД можно осуществить через сайт или позвонив нашим операторам оставить заявку.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <span class="lead">
            Изготовление таких справок занимает одни сутки. Медицинские справки, что оформляет наша фирма, имеют 100% оригинальные печати.
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          Доставка мед.справки производится курьером до вашей станции метро.
        </div>
      </div>

    </div>

  </section>

{% endblock %}