{% extends '../layout.twig' %}

{% block title %}ДОСТАВКА{% endblock %}

{% block body %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          300 рублей =)
        </div>
      </div>
    </div>
  </section>

{% endblock %}