{% extends '../layout.twig' %}

{% block title %}Все медицинские справки за один день!{% endblock %}

{% block body

  {% include '../tools/sale.twig' %}

  <section>
      <div class="row">
        <div class="col-md-12">
          <h2>
            Наш медицинский центр “Юнион” предоставляет помощью для оформления различных видов документов и справок.
          </h2>
          <p class="lead">
            С несправедливостью в нашем городе сталкивался каждый из нас – когда за одного документа тянутся длинные очереди, хочется просто развернутся и уйти.
          </p>
          <p>
            Наш медицинский центр “Юнион” предлагает выход из этой ситуации – приобрести все необходимые документы у нас.<br>
            Если вам нужно оформить перечень медицинских документов, а на оформление практически нет времени.<br>
            Позвоните нашим операторам, и мы поможем найти выход из это не легкой ситуации.
          </p>
          <p>
             Наш медицинский центр “Юнион” предоставляет удобную курьерскую доставку для экономии вашего времени.<br>
            В жизни бывает много разных ситуаций не отпускают с работы, учёба, важные дела и т.д., а документ нужно получить в срок?<br>
            Просто позвоните или оставьте заявку на сайте у нас никогда не бывает очередей, работаем в удобное для вас время.<br>
            Наш медицинский центр предоставляет удобную курьерскую доставку для экономии вашего времени.
          </p>

          <h1>
            Все медицинские справки за один день!
          </h1>

          <p class="lead">
            Наш сайт - это единственный в своем роде сервис.
          </p>

          <p>
            Мы помогаем получить все виды медицинских документов в краткий срок <br>
             Медкнижка, справка в ГАИ, больничный лист, справки из диспансеров ПНД и НД - это можно сделать в краткий срок.
          </p>

          <p class="lead">
            У нас никогда нет очередей.
          </p>

          <p>
            Вне зависимости от документа мы выполним ваш заказ в кратчайшие сроки. <br>
            К каждому клиенту у нас индивидуальный подход, мы вас не разочаруем.
          </p>

        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb40 mt40">
            <span>Оформляйте Ваш заказ, не отходя от компьютера.</span>
            <br>
            <a href="/zakaz">Оформить медицинскую книжку Online</a>
          </h3>

          <h4>
            Для оформления заявки вам нужно заполнить следующие данные:
          </h4>

          <div>
            <ul>
              <li>Фамилия, имя, отчество</li>
              <li>Год, месяц, день Вашего рождения</li>
              <li>Номер вашего телефона для связи</li>
              <li>Вид деятельности</li>
              <li>Цена</li>
              <li>Ваша фотография</li>
            </ul>
          </div>

          <p class="lead">
            После завершения оформления заказа, наши менеджеры свяжется с Вами для подтверждения вашего заказа.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb40 mt40">
            <a href="/gai">Оформить справку в ГИБДД (ГАИ) online</a>
          </h3>

          <h4>
            Для оформления заявки вам нужно заполнить следующие данные:
          </h4>

          <div>
            <ul>
              <li>Фамилия, имя, отчество</li>
              <li>Год, месяц, день Вашего рождения</li>
              <li>Категорию водительского удостоверения</li>
              <li>Номер вашего телефона для связи</li>
              <li>Цена</li>
              <li>Фото</li>
            </ul>
          </div>

          <p class="lead">
            Также Вы можете позвонить нам или оставить Ваш номер телефона, и мы Вам перезвоним!
          </p>
        </div>
      </div>

  </section>

{% endblock %}