{% extends '../layout.twig' %}

{% block title %}Стоимость услуг{% endblock %}

{% block body %}

  <section class="mb40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Наши цены</h2>
        </div>
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th class="p20">
                <h4>Наименование товара</h4>
              </th>
              <th class="p20">
                <h4>Прайс-лист</h4>
              </th>
            </tr>
            <tr>
              <td class="p20">
                Справка для ГИБДД(ГАИ)нового образца
              </td>
              <td class="p20">
                2000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Справка для ГИБДД(ГАИ) нового образца + ПНД и НД
              </td>
              <td class="p20">
                3000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Больничный лист
              </td>
              <td class="p20">
                от 2000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Медкнижки
              </td>
              <td class="p20">
                от 2000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Продление Медкнижки
              </td>
              <td class="p20">
                от 1000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Справки из диспансеров: НД, ПНД,
                (наркологического диспансера и
                Психоневрологического диспансера)
              </td>
              <td class="p20">
                3000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Форма 095/у (Студенческая справка)
              </td>
              <td class="p20">
                1500 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Справка в бассейн
              </td>
              <td class="p20">
                500 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Форма 086/у (Для Работы, Вузов, Школы)
              </td>
              <td class="p20">
                1000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Справка о беременности
              </td>
              <td class="p20">
                2000 руб.
              </td>
            </tr>
            <tr>
              <td class="p20">
                Доставка курьером
              </td>
              <td class="p20">
                250 руб.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

{% endblock %}