{% extends '../layout.twig' %}

{% block title %}Справки{% endblock %}

{% block body %}

  {% include '../tools/disc.twig' %}

  <section class="mb50 mt20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Виды справок и услуг</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Больничный лист</h3>
          <p>
            Больничный лист необходим для любого случая в жизни пропуск на учебе, прогул на работе.
            <br>
            Оформляем больничные листы задним числом.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Справка в ГИБДД (ГАИ)</h3>
          <p>
            Действует медицинской справка ГИБДД (ГАИ) 3 года, для лиц старше 45 лет 2 года.
            <br>
            Медицинская справка в ГИБДД (ГАИ) нужна человеку если он получает водительское удостоверение в первые.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Медицинская книжка</h3>
          <p>
            Медицинская книжка документ, который нужен для людей, работающих в сферах: питания, мед. Услуг, работников с прод. Питанием, общепит, и т.д.
            <br>
            Книжки выданы медицинским центром “Юнион” 100% подлинные и занесены в реестр Роспотребнадзора по г. Москвы.
            <a href="/knizhka">Заказать медкнижку ></a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Справки из диспансеров</h3>
          <p>
            Эту справку чаще всего используют для разрешения на оружие, пособие по алиментам, сделки с недвижимостью.
            <br>
            Справка из Диспансеров ПНД и НД выдается по месту прописки. 
            <br>
            Заказ справки ПНД и НД можно осуществить через сайт или позвонив нашим операторам оставить заявку.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Форма 095-У</h3>
          <p>
            Эта справка пригодиться студенту ПТУ, ВУЗА, Школы, Колледжа.
            <br>
            Медицинская справка выдаётся на срок до 1 месяца.
            <br>
            Подробности уточняйте у наших менеджеров или оставляйте обратный звонок.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Форма 086-у</h3>
          <p>
            Справка по форме 086у обычно применяется абитуриентами, студентами и школьниками, которые трудоустраиваются на работу.
            <br>
            Наши медицинские справки 086-у на 100 % подлинные они подойду на любой случай в жизни.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Справка о беременности</h3>
          <p>
            Порой просто нет времени, чтобы получить вам нужную справку.
            <br>
            Справка о беременности нужна в различных жизненных ситуациях.
            <br>
            Наш медицинский центр “Юнион” поможет решить эту задачу оставьте заказ у нас на сайте и в краткий срок мы решим вашу проблему.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Справка для бассейна</h3>
          <p>
            Вы собрались в бассейн? Вам просто будет необходима справка для бассейна.
            <br>
            Заказав у нас это не займет много времени, и вы уже сможете посетить бассейн в тот же день.
            <br>
            Справка выдается сроком на 6 месяцев.
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}