@import "mixins";
@import (reference) "bootstrap/less/bootstrap.less";

@offsets: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;

.for(@offsets, {
  .pr@{value} {
    padding-right: @value+0px !important;
  }
  .pl@{value} {
    padding-left: @value+0px !important;
  }
  .pt@{value} {
    padding-top: @value+0px !important;
  }
  .pb@{value} {
    padding-bottom: @value+0px !important;
  }

  .p@{value} {
    padding: @value+0px !important;
  }

  .mr@{value} {
    margin-right: @value+0px !important;
  }
  .ml@{value} {
    margin-left: @value+0px !important;
  }
  .mt@{value} {
    margin-top: @value+0px !important;
  }
  .mb@{value} {
    margin-bottom: @value+0px !important;
  }

  .m@{value} {
    margin: @value+0px !important;
  }
});

@width: 0, 10, 20, 25, 33, 30, 40, 50, 60, 66, 70, 75, 80, 90, 100;

.for(@width, {
  .w@{value} {
    width: @value+0% !important;
  }
});


//responsive font-sizes
@responsive_font_sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24, 26, 28, 30, 32, 34;

.for(@responsive_font_sizes, {

  @media (min-width: @screen-sm) {

    .rt@{value} {
      font-size: ceil((@value*2.4px)) !important;
    }

  }

  @media (min-width: @screen-md) {

    .rt@{value} {
      font-size: ceil((@value*1.4px)) !important;
    }

  }

  @media (min-width: @screen-lg) {

    .rt@{value} {
      font-size: ceil((@value*1px)) !important;
    }

  }

});

